* {
    font-family: Helvetica;
}

#pageTitle {
    background-image: url("file:///C:/Users/Kevin/Projects/Codecademy/Arts-And-Crafts/pattern.webp");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#sectionHeading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.boldAndBlue {
    font-weight: bold;
    color: blue;
}